body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h2 { font-size: 16px; }

// `display: none;` messes up some mechanics used like selecting inputs with contenteditable
%hide {
  position: absolute;
  left: 0;
  top: -20px;
}
%character {
  width: $character-size;
  line-height: $character-size;
  font-family: $font-family;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin: -1px -3px;
  border: solid 1px #f3f3f3;
}
%active-character { background: #88f; }

@import 'style/memory-display';
@import 'style/command-picker';

.trigger {
  .next { background: green; }
  .prev { background: purple; }
  [for^="i"] { background: yellow }
  #{$skip-block} { background: orange; }
}
.global.trigger label { background: red; }
