$font-family: inherit;
$character-size: 24px;

$trigger-height: 40px;
$trigger-width: 100px;

// Selectors
// TODO: Set all of the selector names here so that the code makes more sense
$skip-block: ".sb";

// Make things pretty. Everything will still work if this is commented out.
@import 'style';

// Functions used to make things simpler
@import 'mixins';

// Size & position of the "trigger".
@import 'trigger';

// Where the magic happens
@import 'logic';

*:not([contenteditable]) {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

// XXX: Saving work

// @mixin if-symbol-is-active( $symbol ) {
//   & ~ [name="l"]:checked {
//     @if ($symbol == " ") { &+ input[name^="cmd"]:checked +*+*+*+*+*+ .cmd ~ .trigger { @content; }}
//     @if ($symbol == "[") { &+*+ input[name^="cmd"]:checked +*+*+*+*+ .cmd ~ .trigger { @content; }}
//     @if ($symbol == "<") { &+*+*+ input[name^="cmd"]:checked +*+*+*+ .cmd ~ .trigger { @content; }}
//     @if ($symbol == "+") { &+*+*+*+ input[name^="cmd"]:checked +*+*+ .cmd ~ .trigger { @content; }}
//     @if ($symbol == ">") { &+*+*+*+*+ input[name^="cmd"]:checked +*+ .cmd ~ .trigger { @content; }}
//     @if ($symbol == "]") { &+*+*+*+*+*+ input[name^="cmd"]:checked + .cmd ~ .trigger { @content; }}
//   }
// }
//
// %force-next {
//   display: block;
//   width: 100px * 4;
//   margin-left: -3 * 100px;
//   z-index: 4;
// }
//
// #eb:focus,
// #rb:focus,
// [name="indent"]:focus {
//   @include if-symbol-is-active("[") {
//     .exit-block { display: block !important; }
//     .next {
//       display: none !important;
//       // @extend %force-next;
//     }
//   }
//   @include if-symbol-is-active("]"){
//     margin-left: 0 !important;
//     [for^="i"] { width: 100px !important; }
//     .next, .sb { display: none !important; }
//   }
// }
// #eb:focus ~ .trigger {
//   .exit-block { display: none !important; }
// }
// #rb:focus ~ .trigger {
//   .repeat-block { display: none !important; }
// }
//
// [name="indent"]:focus ~ .trigger {
//   // Change to prev if repeat-block
//   .next { display: block; }
//   &.global { display: none; }
// }
