// TODO: Should I actually specify each contenteditable that triggers a next move?
// If we've just done something (excluding setting noop or changing the block scope)
//   Continue on to the next action
[contenteditable]:not([name="l"]):not([name="indent"]):not(#mt0):focus ~ .trigger{
  z-index: 1;
  .next { display: block; }
}

@include memory-trigger("<", "#mt1", ".prev-p", ".memory-prev");
@include memory-trigger("+", "#mt2", ".flip", ".toggle");
@include memory-trigger(">", "#mt3", ".next-p", ".memory-next");

// When we've just went to the next command, toggle noop back
[name="l"]:focus ~ .trigger .memory-noop { display: inline-block !important; }

// Hide toggle when pointer is updated
[name="p_v"]:focus ~ .trigger,[name="p"]:focus ~ .trigger {
  .toggle { display: none !important; }
}

// Every new action, reset the memory triggers
[name="l"]:focus ~ .trigger .memory-noop { display: inline-block; }

// On "noop", dont keep the noop action around
#mt0:focus ~ .trigger .memory-noop { display: none !important; }
