[name="p"] {
  &:checked +*+* { @extend %active-character; }
  &+*+*{
    @extend %character;
    &:before {
      content: '0';
    }
    cursor: pointer;
    &:hover {
      background: #cccccc;
    }
  }
}
[name="p"],[name="p_v"] { @extend %hide; }
[name="p_v"]:checked+*+*+*:before { content: '1'; }
